# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Hardhat build artifacts
artifacts/
cache/
coverage/
coverage.json
typechain/

# Env and secrets
.env

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/
*.swp
